*{
    background-color: red;
}

#intro{
    color: white;
    font-size: 18px;
    margin-left: 30px;
}

h5{
    display: inline-block;
    float: left;
    width: 30%;
}


#head{
    text-align: center;
    width: 90%;
    font-size: 36px;
    margin-top: 100px;
    color: 
}

h1{
    font-family: 'Fredoka One', cursive;
    color: yellow;
}

button{
    background-color: yellow;
    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
    border: none;
}

#button{
    margin: auto;
    text-align: center;
}

.show{
    display: none;
}