*{
    background-color: red;
}

#intro{
    color: white;
    font-size: 18px;
    margin-left: 30px;
}

h5{
    display: inline-block;
    float: left;
    width: 30%;
}


#head{
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
    color: yellow;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: yellow;
}

button{
    background-color: yellow;
    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
    margin: 50px 25px 0px 25px;
    color: red
}

#button{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

.show{
    display: none;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    color: yellow;
    text-align: center;
     margin-top: 100px;
     margin-bottom: 50px;
}

#options{
    text-align: center;

}

#questions{
    font-family: 'Fredoka One', cursive;
    color: yellow;
    font-size: 36px;
}

h2{
    text-align: center;
}